$paddingY: (
  s: 0.25rem,
  m: 0.5rem,
  l: 0.75rem
);

@function paddingY($paddingSize) {
  @return get($paddingY, $paddingSize);
}

$paddingX: (
  s: 1rem,
  m: 2rem,
  l: 3rem
);

@function paddingX($paddingSize) {
  @return get($paddingX, $paddingSize);
}
