$easing: ease-in-out;

$durations: (
  xs: .1s,
  s: .4s,
  m: .6s,
  l: 1.2s
);

@function duration($duration) {
  @return get($durations, $duration);
}

@mixin transition($prop, $duration: m) {
  transition: $prop get($durations, $duration, $easing);
}
