* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: font(base), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: color(dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

i {
  &,
  &:before {
    line-height: 1;
    display: inline-block;
    overflow: hidden;
  }
}
