// text
@each $color, $value in $colors {
  .text--#{$color} {
    color: #{$value} !important;
  }
}

@each $state, $value in $states {
  .text--#{$state} {
    color: #{$value} !important;
  }
}

// backgrounds
@each $color, $value in $colors {
  .bg--#{$color} {
    background-color: #{$value};
  }
  .bg--#{$color}--before:before {
    background-color: #{$value} !important;
  }
  .bg-gradient--#{$color} {
    @include bg-gradient($value);
  }
  .bg-gradient--#{$color}--invert {
    @include bg-gradient-inverted($value);
  }
}

@each $state, $value in $states {
  .bg--#{$state} {
    background-color: #{$value};
  }
  .bg--#{$state}--before:before {
    background-color: #{$value} !important;
  }
  .bg-gradient--#{$state} {
    @include bg-gradient($value);
  }
  .bg-gradient--#{$state}--invert {
    @include bg-gradient-inverted($value);
  }
}
