.waves {
  position: relative;
  &::before {
    content: '';
    display: block;
    background-image: url('../assets/img/waves/back.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-color: transparent;
    min-height: 130px;
    position: absolute;
    left: 0;
    right: 0;
    top: -128px;
  }
  &::after {
    content: '';
    display: block;
    background-image: url('../assets/img/waves/front.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-color: transparent;
    min-height: 140px;
    position: absolute;
    left: 0;
    right: 0;
    top: -138px;
    z-index: 2;
  }
}
