// @function get($key, $map) {
//   @if not map-has-key($map, $key) {
//     @error '"#{$key}" is not a valid key. The available options are: #{map-keys($map)}.';
//   }
//   @return map-get($map, $key);
// }

@mixin bg-gradient($color) {
  background: linear-gradient(180deg, lighten($color, 0%), darken($color, 10%)) repeat-x;
}

@mixin gradient-bgi($color) {
  background: linear-gradient(180deg, darken($color, 0%), lighten($color, 10%)) repeat-x;
}


@function color-yiq($color) {
  $yiq-contrasted-threshold: 150;

  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= $yiq-contrasted-threshold) {
    @return $black;
  } @else {
    @return $white;
  }
}
